<nav>
	<ul>
		<li ng-class="{ 'active': isStateActive('/') }"><a ui-sref="home">Home</a></li>
		<li ng-class="{ 'active': isStateActive('products') }"><a ui-sref="products">Products</a></li>
		<li ng-class="{ 'active': isStateActive('categories') }"><a ui-sref="categories">Categories</a></li>
		<li ng-class="{ 'active': isStateActive('cart') }"><a ui-sref="cart">Cart</a></li>
		<li ng-class="{ 'active': isStateActive('purchase') }"><a ui-sref="purchase">Purchase</a></li>
		<li ng-class="{ 'active': isStateActive('about-us') }"><a ui-sref="about-us">About Us</a></li>
	</ul>
</nav>